.form {
  transition: all 0.5s ease-out;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #404851;
  display: none;
  flex-direction: column;
  gap: 10px;
  max-width: 270px;
}
.form__button {
  font-size: 24px;
  padding: 5px 50px;
  border: 2px solid #404851;
  border-radius: 15px;
  margin: 0 auto;
}
.form__button:hover {
  opacity: 0.6;
}

.form__email {
  font-size: 18px;
  padding: 5px 15px 5px 0;
  border: 1px solid;
  border-radius: 5px;
}
.form__message {
  font-size: 18px;
  height: 100px;
  border-radius: 5px;
}
.form__open {
  display: flex;
  top: 0;
}
@media screen and (max-width: 700px) {
  .form {
    max-width: 227px;
  }
}
